<div id="carouselPetPar" class="carousel slide mt-3" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselPetPar" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselPetPar" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselPetPar" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img ngSrc="../../../assets/img/banner.svg" class="d-block w-100" alt="Adote um pet" height="100" width="400">
      <div class="carousel-caption d-none d-md-block">
        <h5>Adote um Pet</h5>
        <p>Encontre seu novo amigo!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img ngSrc="../../../assets/img/Institutes.svg" class="d-block w-100" alt="Ajude Instituições" height="100" width="400">
      <div class="carousel-caption d-none d-md-block">
        <h5>Ajude Instituições</h5>
        <p>Doe para ONGs que resgatam animais.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img ngSrc="../../../assets/img/Doacao.svg" class="d-block w-100" alt="Faça Parte" height="100" width="400">
      <div class="carousel-caption d-none d-md-block">
        <h5>Faça Parte</h5>
        <p>Cadastre-se como voluntário ou instituição!</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselPetPar" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselPetPar" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Próximo</span>
  </button>
</div>
