<nav class="navbar navbar-expand-lg" style="background-color: #cb8c63; box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); padding: 10px;">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center">
      <img alt="logo" ngSrc="assets/img/logoPetPar.png" class="logo" height="83" width="299">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto gap-3">
        <li class="nav-item">
          <a [routerLink]="['/user-animal-list', id]" routerLinkActive="active" class="nav-link" style="text-decoration: none; color: white;">
            Lista de Pets
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/user-animal-adopt-list', id]" routerLinkActive="active" class="nav-link" style="text-decoration: none; color: white;">
            Andamento da adoção
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/donation-user-list" routerLinkActive="active" class="nav-link" style="text-decoration: none; color: white;">
            Faça uma doação!
          </a>
        </li>
        <li class="nav-item">
          <button (click)="logout()" class="nav-link" style="background: none; border: none; color: white; cursor: pointer;">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
