<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Doações recebidas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<app-navbar-institution></app-navbar-institution>

<div class="container" style="margin: 0 auto; width: fit-content;">
  <div class="center col-lg-10 col-sm-12">
    <div class="col-12">
      <h1 class="text-center">Doações recebidas</h1>
    </div>
    <fieldset>
      <div *ngIf="donations && donations.length > 0">
        <table class="table table-responsive table-striped table-hover">
          <tr>
            <th>#</th>
            <th>Valor doado</th>
            <th>Doador</th>
            <th>Metodo de pagamento</th>
          </tr>
          <tr *ngFor="let donation of donations; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ donation.amount }}</td>
            <td>{{ donation.user_id }}</td>
            <td>{{ donation.payment_method }}</td>

<!--            <td>{{ donation.institution_id }}</td>-->
<!--            <td>-->
<!--              <a class="btn btn-primary" [routerLink]="['/user-profile', donation.user_id]">-->
<!--                <i class="fas fa-money-bill-wave"></i> Perfil do usuário-->
<!--              </a>-->
<!--            </td>-->
          </tr>
        </table>
      </div>
      <div *ngIf="donations && donations.length > 0">
        <div *ngFor="let donation of donations; let i = index">
          <!-- Exiba detalhes da doação -->
        </div>
      </div>
      <div *ngIf="!donations || donations.length === 0">
        <p>Nenhuma doação encontrada.</p>
      </div>
    </fieldset>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
