<!-- Navbar -->
<nav class="navbar" style="background-color: #cb8c63; box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); padding: 10px;">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <a class="navbar-brand" routerLink="/">
      <img alt="logo" ngSrc="assets/img/logoPetPar.png" style="max-width: 150px;">
    </a>
    <ul class="navbar-nav d-flex flex-row align-items-center" style="gap: 20px; list-style: none; margin: 0; padding: 0;">
      <li class="nav-item">
        <a routerLink="/" class="nav-link text-white">Início</a>
      </li>
      <li class="nav-item">
        <a routerLink="/user-login" class="nav-link text-white">Quero adotar</a>
      </li>
      <li class="nav-item">
        <a routerLink="/institution-login" class="nav-link text-white">Faça Parte</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contato" class="nav-link text-white">Contato</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Formulário de Cadastro -->
<div class="cadastro-container">
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <fieldset>
      <legend>Cadastro de Instituição</legend>

      <div class="inputBox">
        <label for="name">Nome da Instituição:</label>
        <input type="text" id="name" name="name" required [(ngModel)]="name">
      </div>

      <div class="inputBox">
        <label for="description">Descrição:</label>
        <textarea id="description" name="description" rows="4" required [(ngModel)]="description"></textarea>
      </div>

      <div class="inputBox">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required [(ngModel)]="email">
      </div>

      <div class="inputBox">
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required [(ngModel)]="password">
      </div>

      <div class="inputBox">
        <label for="cpfCnpj">CPF ou CNPJ:</label>
        <input type="text" id="cpfCnpj" name="cpfCnpj" required [(ngModel)]="cpfCnpj">
      </div>

      <div class="inputBox">
        <label for="phoneNumber">Número de Telefone:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" required [(ngModel)]="phoneNumber">
      </div>

      <button type="submit">Cadastrar</button>
    </fieldset>
  </form>
  <p class="text-white">Já tem uma conta? <a routerLink="/institution-login">Faça login</a></p>
</div>
